<form action="/questions" method="post">
  <label for="title">Question:</label>
  <p><textarea name="question[title]" cols="50"rows="1"></textarea></p>
  <label for="content">Description:</label>
  <p><textarea name="question[content]" rows="12" cols="50"></textarea></p>
  <input type="submit" value="Post Question">
</form>