<h1>Hydro Coffee Overflow</h1>

<% @questions.each do |question| %>
  <ul id="question-list">
    <li>
      <a href="/questions/<%= question.id %>/show"><%= question.title %></a>
      <a href="/users/<%= question.author_id %>"><%= question.author.username %></a>
    </li>
  </ul>
<% end %>

<%if logged_in? %>
  <button id="add-question-button">Ask Question</button>
<% end %>
<!-- place your response here using jquery -->

