<h1>Hydro Coffee Overflow</h1>

<% @questions.each do |question| %>
  <ul>
    <li>
      <a href="/questions/<%= question.id %>/show"><%= question.title %></a>
      <a href="/users/<%= question.author_id %>"><%= question.author.username %></a>
    </li>
  </ul>
<% end %>
<button id="add-question-button">Add Question</button>
