<%if !logged_in? %>
  <form action="/sessions" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email"

    <label for="password">Password:</label>
    <input type="text" name="password">
    <input type='submit' value='log me in'>
  </form>
  <% if @errors %>
    <% @errors.each do |error|%>
      <li><%= error %></li>
    <% end %>
  <% end %>
<% else %>
<p>You are already logged in!</p>
<% end %>